	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="UTF-8">
		<title>Happy Day Conviteria</title>
		<style type="text/css">
		   table {
			  border: 1px solid black;
		   }
		   tbody tr:nth-child(odd) {
			  background-color: #ccc;
		   }
		</style>
	</head>
	<body>
		
		<p>
		Olá $cliente1 #if($cliente2) e $cliente2 #end.<br/>
		Ficamos muito felizes com sua visita e esperamos que possamos atendê-los da melhor forma possível.
		Conforme conversamos, segue o(s) orçamento(s) do(s) modelo(s) que você(s) se interess(ou)(aram):
		</p>
		
		#foreach($orc in $orcamentos)
			<table>
			<thead>
				<tr>
				<th colspan="2">
					Orçamento: $foreach.count
				</th>
				</tr>
				<tr>
					<th width="30%">Item</th>
					<th width="70%">Descrição</th>
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>Quantidade: </td>
						<td>$orc.quantidade</td>
					</tr>
					<tr>
						<td>Modelo: </td>
						<td>$orc.modelo.nome</td>
					</tr>
					#if($orc.papelEnvelope)
					<tr>
						<td>Papel Envelope: </td>
						<td>$orc.papelEnvelope.nome</td>
					</tr>
					#end
					#if($orc.papelInterno)
					<tr>
						<td>Papel Interno: </td>
						<td>$orc.papelInterno.nome</td>
					</tr>
					#end
					
					#if($orc.corteInternoAlmofadado)
					<tr>
			 			<td>Corte Interno com Borda Almofadada: </td>
			 			<td>{{orc.corteInternoAlmofadado ? 'Sim' : 'Não'}}</td>
			 		</tr>
			 		#end
					
					#if($orc.papelRevestimentoInterno)
					<tr>
						<td>Papel Revestimento Interno Envelope: </td>
						<td>$orc.papelRevestimentoInterno.nome</td>
					</tr>
					#end

					#if($orc.impressaoEnvelope)
					<tr>
						<td>Impressão Envelope: </td>
						<td>$orc.impressaoEnvelope.nome</td>
					</tr>
					#end
					#if($orc.impressaoInterno)
					<tr>
						<td>Impressão Interno: </td>
						<td>$orc.impressaoInterno.nome</td>
					</tr>
					#end
					#if($orc.fita)
					<tr>
						<td>Fita: </td>
						<td>$orc.fita.nome</td>
					</tr>
					#end
					#if($orc.laco)
					<tr>
						<td>Laço: </td>
						<td>$orc.laco.nome</td>
					</tr>
					#end
					
					#if($orc.impressaoNome)
					<tr>
						<td>Impressão nome dos convidados: </td>
						<td>$orc.impressaoNome.nome</td>
					</tr>
					#end
					
					#if($orc.strass)
					<tr>
						<td>Strass/Meia Pérola: </td>
						<td>$orc.strass.nome</td>
					</tr>
					#end
					
					#if($orc.ima)
					<tr>
						<td>Fechamento: </td>
						<td>$orc.ima.nome</td>
					</tr>
					#end
					
					#if($orc.serigrafiaInterno)
					<tr>
						<td>Serigrafia Papel Interno: </td>
						<td>$orc.serigrafiaInterno.nome</td>
					</tr>
					#end
					
					#if($orc.serigrafiaEnvelope)
					<tr>
						<td>Serigrafia Envelope: </td>
						<td>$orc.serigrafiaEnvelope.nome</td>
					</tr>
					#end
					
					#if($orc.hotstamp || $orc.cliche)
					<tr ng-show="$orc.hotstamp != null || orc.cliche != null}}">
						<td colspan="2"><b>Itens adicionais</b></td>
					</tr>
					#end
					
					#if($orc.hotstamp) 
					<tr>
						<td>Aplicação HotStamp</td>
						<td>$orc.hotstamp.nome</td>
					</tr>
					#end
					
					#if ($orc.cliche)
					<tr ng-show="{{orc.cliche != null}}">
						<td>Confecção clichê</td>
						<td>$orc.cliche.nome</td>
					</tr>
					#end
					
					#if ($orc.acoplamentoEnvelope)
					<tr ng-show="{{orc.acoplamentoEnvelope != null}}">
						<td>Acoplamento do envelope</td>
						<td>Sim</td>
					</tr>
					#end
					
					#if ($orc.acoplamentoInterno)
					<tr ng-show="{{orc.acoplamentoInterno != null}}">
						<td>Acoplamento interno</td>
						<td>Sim</td>
					</tr>
					#end
					
					<tr>
						<td colspan="2"><b>TOTAIS PARA PAGAMENTO À VISTA NO FECHAMENTO DO CONTRATO</b></td>
					</tr>
				
					<tr>
						<td>Valor por unidade: </td>
						<td><b>R$ $orc.precoCalculado</b></td>
					</tr>
					
					<tr>
						<td>Valor total dos convites: </td>
						#set($total = $orc.precoCalculado * $orc.quantidade)
						<td><b>R$ $total</b></td>
					</tr>
					
					<tr>
						<td>Valores adicionais por pedido: </td>
						<td><b>R$ $orc.precoCalculadoItemsPedido</b></td>
					</tr>
					<tr>
						<td>Valor Total: </td>
						<td><b>R$ $orc.precoCalculadoTotal</b></td>
					</tr>
					
					<tr>
						<td colspan="2"><b>TOTAIS PARA PAGAMENTO EM ATÉ 3X NO CARTÃO DE CRÉDITO</b></td>
					</tr>
				
					<tr>
						<td>Valor por unidade: </td>
						<td><b>R$ $orc.precoCalculadoPrazo</b></td>
					</tr>
					
					<tr>
						<td>Valor total dos convites: </td>
						#set($total = $orc.precoCalculadoPrazo * $orc.quantidade)
						<td><b>R$ $total</b></td>
					</tr>
					
					<tr>
						<td>Valores adicionais por pedido: </td>
						<td><b>R$ $orc.precoCalculadoItemsPedidoPrazo</b></td>
					</tr>
					<tr>
						<td>Valor Total: </td>
						<td><b>R$ $orc.precoCalculadoTotalPrazo</b></td>
					</tr>

			</tbody>
		 </table>
		 </br>
		 </br>
		#end
		
		<br/>
		
		
		#if($complementos)
		<p>Você também orçou alguns itens complementares. Lembre-se de que os valores dos itens complementares presentes neste orçamento são válidos apenas para a compra conjunta com os convites. Não produzimos complementos caso não sejam adquiridos junto aos convites.</p>
		<table>
			<thead>
				<tr>
					<td>Item</td>
					<td>Quantidade orçada</td>
					<td>Valor individual</td>
					<td>Valor total</td>
				</tr>
			</thead>
			<tbody>
				#set($valorTotal = 0)
				#foreach($comp in $complementos)
				<tr>
					<td>$comp.complemento.descricao</td>
					<td>$comp.quantidade</td>
					<td>$comp.valor</td>
					#set($valorFinal = $comp.valor * $comp.quantidade)
					<td>R$ $valorFinal</td>
					#set($valorTotal = $valorTotal + $valorFinal)
				</tr>
				#end
			<tbody>
			<tfoot>
				<tr>
					<td>Valor Total dos Complementos</td>	
					<td><b>$valorTotal</b></td>
				</tr>
			</tfoot>
		</table>
		#end
		
		<br/>
		
		
		#if($temImagens)
		<p>
		Anexo neste email seguem algumas fotos referente aos modelos orçados por vocês que a Happy Day Conviteria já confeccionou em outras ocasiões.
		</p>
		#end
		
		<p>
		Lembramos que este orçamento é válido até $validade. </br>
		Ao retornar, e ficaremos muito felizes com seu retorno, por favor anote o número do orçamento e traga com você para facilitar nosso atendimento.
		</br>
		</br>
		Obrigada,
		</br>
		</br>
		Happy Day Conviteria
		</p>
		
	</body>
	</html>