.header {
    width:100%;
    bottom: auto;
    background:#F0F0F0;
    border:1px solid #CCC;
    display: block;
    float: left;
}
.content {
    width:960%;
    background: #F0F0F0;
    border: 1px solid #CCC;
    margin: 0 auto;
}

.form_cliente {
	font-size: 10pt;
}

.form_cliente .panel {
	padding: 10px;	
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

ul {
	list-style: none;
}

ul.fotos li{
	display: block;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}