<div class="panel" ng-controller="AtendimentoController">
  <div class="panel-header">
    Tela de atendimento
  </div>
  <div class="panel-content">

    <label for="txtQuantidade">Quantidade</label>
    <input id="txtQuantidade" type="text" ng-model="orcamento.quantidade"/>

    <label for="cmbModelo">Modelo</label>
    <select id="cmbModelo" ng-model="orcamento.modelo" ng-options="modelo as modelo.nome for modelo in modelos track by modelo.id">
      <option value="">-- Selecione o modelo --</option>
    </select>

    <label for="cmbPapelEnvelope">Papel do envelope</label>
    <select id="cmbPapelEnvelope" ng-model="orcamento.papelEnvelope" ng-options="papel as papel.nome for papel in papeis track by papel.id">
      <option value="">-- Selecione o modelo --</option>
    </select>


    <label for="cmbPapelInterno">Papel interno</label>
    <select id="cmbPapelInterno" ng-model="orcamento.papelInterno" ng-options="papel as papel.nome for papel in papeis track by papel.id">
      <option value="">-- Selecione o modelo --</option>
    </select>

    <label for="cmbImpressaoEnvelope">Impressão no envelope</label>
    <select id="cmbImpressaoEnvelope" ng-model="orcamento.impressaoEnvelope" ng-options="imp as imp.nome for imp in impressoes track by imp.id">
      <option value="">-- Selecione o tipo de impressao --</option>
    </select>



    <!--
    <ul>
      <li ng-repeat="imp in impressoes">{{imp.nome}}</li>
    </ul>
    -->

  </div>
</div>
