<div ng-controller="MainController" >

  <div class="tile double block bg-darkRed">

    <div class="tile live" data-role="live-tile" data-effect="..." data-easing="...">
      <a ui-sref="modelos" class="tile-content" ng-repeat="modelo in modelos">
        <img src="{{modelo}}"/>
      </a>
    </div>
  </div>

  <div class="tile double block bg-darkGreen">
    <div class="tile-content icon">
      <i class="icon-cart-2"></i>
    </div>
    <div class="tile-status">
      <span class="name">Atendimento</span>
    </div>
  </div>

</div>
