<div ng-include="'views/header-atendimento.html'"></div>
<div class="grid fluid" ng-controller="AtendimentoController">
	<div class="row">
		<div class="span4">
			<label for="txtQuantidade">Quantidade</label>
	    	<input id="txtQuantidade" type="text" ng-model="orcamento.quantidade" class="input-control text"/>
		</div>
		<div class="span4">
			<label for="cmbModelo">Modelo</label>
	    	<select data-role="input-control" id="cmbModelo" ng-model="orcamento.modelo" ng-options="modelo as modelo.nome for modelo in modelos track by modelo.id" class="input-control text">
	      		<option value="">-- Selecione o modelo --</option>
	    	</select>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<label for="cmbPapelEnvelope">Papel do envelope</label>
		    <select id="cmbPapelEnvelope" ng-model="orcamento.papelEnvelope" ng-options="papel as papel.nome for papel in papeis track by papel.id" class="input-control text">
		      <option value="">-- Selecione o modelo --</option>
		    </select>
		</div>
		<div class="span4">
			<label for="cmbPapelInterno">Papel interno</label>
		    <select id="cmbPapelInterno" ng-model="orcamento.papelInterno" ng-options="papel as papel.nome for papel in papeis track by papel.id" class="input-control text">
		      <option value="">-- Selecione o modelo --</option>
		    </select>
		</div>
		<div class="span4">
			<label for="cmbImpressaoEnvelope">Impressão no envelope</label>
		    <select id="cmbImpressaoEnvelope" ng-model="orcamento.impressaoEnvelope" ng-options="imp as imp.nome for imp in impressoes track by imp.id" class="input-control text">
		      <option value="">-- Selecione o tipo de impressão --</option>
		    </select>	
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<label for="cmbImpressaoInterno">Impressão interno</label>
		    <select id="cmbImpressaoInterno" ng-model="orcamento.impressaoInterno" ng-options="imp as imp.nome for imp in impressoes track by imp.id" class="input-control text">
		      <option value="">-- Selecione o tipo de impressão --</option>
		    </select>
		</div>
		
		<div class="span3">
			<label for="chkEnvelopeAlmofadado">Papel interno almofadado</label>
			<input type="checkbox" ng-model="orcamento.corteInternoAlmofadado"/>
		</div>
		
		<div class="span3">
			<label for="cmbFita">Fita</label>
		    <select id="cmbFita" ng-model="orcamento.fita" ng-options="fita as fita.nome for fita in fitas track by fita.id" class="input-control text">
		      <option value="">-- Selecione a fita --</option>
		    </select>
		</div>
		<div class="span3">
			<label for="cmbLaco">Laço</label>
		    <select id="cmbLaco" ng-model="orcamento.laco" ng-options="laco as laco.nome for laco in lacos track by laco.id" class="input-control text">
		      <option value="">-- Selecione o tipo de laço --</option>
		    </select>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<label for="cmbRenda">Aplicação de Renda</label>
		    <select id="cmbRenda" ng-model="orcamento.renda" ng-options="renda as renda.nome for renda in rendas track by renda.id" class="input-control text">
		      <option value="">-- Selecione aplicação de renda --</option>
		    </select>
		</div>
		<div class="span4">
			<label for="cmbImpressaoNome">Impressão do nome</label>
		    <select id="cmbImpressaoNome" ng-model="orcamento.impressaoNome" ng-options="impnome as impnome.nome for impnome in impressoesNome track by impnome.id" class="input-control text">
		      <option value="">-- Selecione a impressão do nome--</option>
		    </select>
		</div>
		<div class="span4">
			<label for="cmbSerigrafiaInterno">Impressão em Serigrafia Interno</label>
	    	<select id="cmbSerigrafiaInterno" ng-model="orcamento.serigrafiaInterno" ng-options="ser as ser.nome for ser in serigrafias track by ser.id" class="input-control text">
	      		<option value="">-- Selecione aplicação de serigrafia-</option>
	    	</select>
		</div>
	</div>
	<div class="row">
		<div class="span3">
		    <label for="cmbSerigrafiaEnvelope">Impressão em Serigrafia Envelope</label>
		    <select id="cmbSerigrafiaEnvelope" ng-model="orcamento.serigrafiaEnvelope" ng-options="ser as ser.nome for ser in serigrafias track by ser.id" class="input-control text">
		      <option value="">-- Selecione aplicação de serigrafia-</option>
		    </select>
		</div>
		<div class="span3">
			 <label for="cmbHotStamp">Aplicação Hot Stamp</label>
		    <select id="cmbHotStamp" ng-model="orcamento.hotstamp" ng-options="hot as hot.nome for hot in hotstamp track by hot.id" class="input-control text">
		      <option value="">-- Selecione aplicação de hotstamp-</option>
		    </select>
		</div>
		<div class="span3">
		    <label for="cmbStrass">Aplicação de Strass/Meia Pérola</label>
		    <select id="cmbStrass" ng-model="orcamento.strass" ng-options="st as st.nome for st in strass track by st.id" class="input-control text">
		      <option value="">-- Selecione strass/pérola-</option>
		    </select>
		</div>
		
		<div class="span3">
		    <label for="cmbStrass">Quantidade de Strass/Meia Pérola</label>
		    <select id="cmbStrass" ng-model="orcamento.quantidadeStrass" class="input-control text">
		      <option value="0">-- Selecione strass/pérola-</option>
		      <option value="1">1</option>
		      <option value="2">2</option>
		      <option value="3">3</option>
		      <option value="4">4</option>
		      <option value="5">5</option>
		      <option value="6">6</option>
		      <option value="7">7</option>
		      <option value="8">8</option>
		      <option value="9">9</option>
		      <option value="10">10</option>
		      <option value="11">11</option>
		      <option value="12">12</option>
		      <option value="13">13</option>
		      <option value="14">14</option>
		      <option value="15">15</option>
		      <option value="16">16</option>
		      <option value="17">17</option>
		      <option value="18">18</option>
		      <option value="19">19</option>
		      <option value="20">20</option>
		    </select>
		</div>
		
	</div>
	<div class="row">
		<div class="span4">
			<label for="cmbIma">Fechamento com Imã</label>
		    <select id="cmbIma" ng-model="orcamento.ima" ng-options="ima as ima.nome for ima in imas track by ima.id" class="input-control text">
		      <option value="">-- Selecione o fechamento com imã --</option>
		    </select>
		</div>
		
		<div class="span4">
			<label for="cmbCliche">Clichê</label>
		    <select id="cmbCliche" ng-model="orcamento.cliche" ng-options="c as c.nome for c in cliches track by c.id" class="input-control text">
		      <option value="">-- Selecione o modelo do cliche --</option>
		    </select>
		</div>
	</div>
	
	<div class="row">
		<div class="span4">
			<label for="chkEnvelopeAcoplado">Acoplamento do envelope</label>
			<input id="chkEnvelopeAcoplado" type="checkbox" ng-model="orcamento.acoplamentoEnvelope"/>
		</div>
		
		<div class="span4">
			<label for="chkEnvelopeAcoplado">Acoplamento interno</label>
			<input id="chkEnvelopeAcoplado" type="checkbox" ng-model="orcamento.acoplamentoInterno"/>
		</div>
	</div>
	
	<div class="row">
		<fieldset>
			<legend>VALORES PARA PAGAMENTO À EM ATÉ <b>3X</b> NO CARTÃO DE CRÉDITO</legend>
			<div class="span3">
		      <p>Valor da unidade: <b> R$ {{precoPorUnidadePrazo}} </b> por unidade</p>
			</div>
			
			<div class="span3">
		      <p>Valor total dos convites:<b> R$ {{precoCalculadoConvitesPrazo}} </b></p>
			</div>
			
			<div class="span3">
		      <p>Valor itens por pedido: <b> R$ {{precoItensPorPedidoPrazo}} </b> por pedido</p>
			</div>
			
			<div class="span3">
		      <p>Valor total do pedido: <b> R$ {{precoTotalPrazo}} </b></p>
			</div>
		</fieldset>
	</div>
	
	<div class="row">
		<table>
				<thead>
					<tr>
						<td>Núm.Parcelas</td>
						<td>Valor da parcela</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="parcela in opcoesParcelamento">
						<td>{{parcela.quantidadeParcelas}}</td>
						<td>{{parcela.valorParcelaMoeda}}</td>
					</tr>
				</tbody>
			</table>
	</div>
	
	<div class="row">
		<fieldset>
			<legend>VALORES PARA PAGAMENTO À VISTA</legend>
			<div class="span3">
		      <p>Valor da unidade: <b> R$ {{precoPorUnidade}} </b> por unidade</p>
			</div>
			
			<div class="span3">
		      <p>Valor total dos convites: <b> R$ {{precoCalculadoConvites}} </b></p>
			</div>
			
			<div class="span3">
		      <p>Valor itens por pedido: <b>R$ {{precoItensPorPedido}} </b> por pedido</p>
			</div>
			
			<div class="span3">
		      <p>Valor total do pedido: <b> R$ {{precoTotal}} </b></p>
			</div>
		</fieldset>
		
	</div>
	
	
	
	<div class="row">
		<div class="span3"> 
	      <button class="button default" ng-click="calcular()">Calcular</button>
		</div>
		<div class="span2">
	      <button class="button default" ui-sref="layout.complementos({'atendimento':atendimentoId})">Complementos</button>
		</div>
		<div class="span2">
	      <button class="button default" ng-click="verTodosOrcamentos()">Ver orçamentos</button>
		</div>
		
		<div class="span2">
	      <button class="button default" ng-click="fechar()">Fechar venda</button>
		</div>
	</div>
	
</div>

