<div class="grid" ng-controller="HeaderController">
	<div class="row">
		<div class="span2 form_cliente">
			<button ng-click="realizarAtendimento()">
				{{atendimento.label}}
			</button>
		</div>
		
		<div class="span10">
			<div class="panel">
				<div class="panel-header">Dados do atendimento</div>
				<div class="panel-content">
					<p>Número: {{atendimento.numero}}</p>
					<p>Data/Hora Início: {{atendimento.dataInicio}}</p>
					<div class="relogio"></div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="row">	
		<div class="span12 form_cliente">
			<div class="panel">
				<input type="text" id="pessoa1" ng-model="atendimento.pessoa1" placeholder="Cliente" ng-change="atualizarCliente()" class="input-control text">
		    	<input type="text" id="email1" ng-model="atendimento.email1" placeholder="Email" ng-change="atualizarCliente()" class="input-control text">
		    	<input type="text" id="fone1" ng-model="atendimento.fone1" placeholder="Telefone" ng-change="atualizarCliente()" class="input-control text">
				<input id="pessoa2" ng-model="atendimento.pessoa2" type="text" placeholder="Cliente" ng-change="atualizarCliente()" class="input-control text">
				<input id="email2" ng-model="atendimento.email2" type="text" placeholder="Email" ng-change="atualizarCliente()" class="input-control text">
				<input id="fone2" ng-model="atendimento.fone2" type="text" placeholder="Telefone" ng-change="atualizarCliente()" class="input-control text">

				<label for="txtData">Data do evento</label>
		    	<div class="input-control text" data-role="datepicker" id="datepicker" ng-model="atendimento.dataEvento" ng-change="atualizarCliente()" data-format="dd/mm/yyyy">
				    <input id="data" type="text" ng-model="atendimento.dataEvento">
				    <button class="btn-date"></button>
				</div>
				
				<input id="fone2" ng-model="atendimento.observacao" type="text" placeholder="Obervações" ng-change="atualizarCliente()" class="input-control text">
				
		    	<select data-role="input-control" id="cmbOrigemContato" ng-model="atendimento.origemContato" ng-options="origem as origem.descricao for origem in origensContato track by origem.id" class="input-control text" ng-change="atualizarCliente()">
		      		<option value="">Como ficou sabendo de nossa empresa?</option>
		    	</select>
			</div>
		</div>
	</div>
</div>

<script>
	$("#datepicker").datepicker();
</script>

