<div ng-controller="MainController">

    <div class="tile double block bg-darkRed">
        <a ui-sref="modelos" class="tile-content image-set">
            <img src="{{modelo}}" ng-repeat="modelo in modelos"/>
        </a>
    </div>


    <a ui-sref="atendimento" class="tile double block bg-darkGreen">
        <div class="tile-content icon">
            <i class="icon-cart-2"></i>
        </div>
        <div class="tile-status">
            <span class="name">Atendimento</span>
        </div>
    </a>

</div>