<header class="margin20 nrm nlm">
    <div class="clearfix">
        <a class="place-left" href="#" title="">
            <h1>Modelo {{modelo.nome}}</h1>
        </a>
    </div>
</header>

<div class="grid">
    <div class="row">
        <div class="span5">

        <div class="carousel" data-role="carousel">
    <div class="slide" ng-repeat="foto in modelo.foto" >
        <img src="{{foto}}" class="cover1"/>
    </div>
    <a class="controls left"><i class="icon-arrow-left-3"></i></a>
    <a class="controls right"><i class="icon-arrow-right-3"></i></a>
    </div>
            </div>
        </div>
    </div>

<script>
    $(function(){
        $(".carousel").carousel({
            height: 500,
            effect: 'fade',
            markers: {
                show: true,
                type: 'square',
                position: 'bottom-right'
            }
        });
    })

</script>
