<header class="margin20 nrm nlm">
	<div class="clearfix">
		<a class="place-left" href="#" title="">
			<h1>Orçamentos</h1>
		</a>
	</div>
</header>

<div class="main-content clearfix" ng-controller="OrcamentosController"
	ng-init="getOrcamentos">
	<div class="grid fluid">
		<div class="row">
			<div class="span3">
					<label for="txtData">Data do atendimento</label>
			    	<input id="txtData" type="text" readonly="readonly" value="{{dados.dataInicio | date:'dd/MM/yyyy HH:mm:ss'}}" class="input-control text"/>
			</div>
			<div class="span3">
					<label for="txtNumero">Número</label>
			    	<input id="txtNumero" readonly="readonly" type="text" ng-model="dados.numero" class="input-control text"/>
			</div>
		</div>
		
		<div class="row">
			<div class="span3">
					<label for="txtCliente">Cliente 1</label>
			    	<input id="txtCliente" readonly="readonly" type="text" ng-model="dados.cliente1.nome" class="input-control text"/>
			</div>
			<div class="span3">
					<label for="txtEmail">Email</label>
			    	<input id="txtEmail" type="text" ng-model="dados.cliente1.email" class="input-control text"/>
			</div>
			<div class="span3">
					<label for="txtTelefone">Telefone</label>
			    	<input id="txtTelefone" readonly="readonly" type="text" ng-model="dados.cliente1.telefone" class="input-control text"/>
			</div>
		</div>
		<div class="row">
			<div class="span3">
					<label for="txtCliente2">Cliente 2</label>
			    	<input id="txtCliente2" readonly="readonly" type="text" ng-model="dados.cliente2.nome" class="input-control text"/>
			</div>
			<div class="span3">
					<label for="txtEmail2">Email</label>
			    	<input id="txtEmail2" type="text" ng-model="dados.cliente2.email" class="input-control text"/>
			</div>
			
			<div class="span3">
					<label for="txtTelefone2">Telefone</label>
			    	<input id="txtTelefone2" readonly="readonly" type="text" ng-model="dados.cliente2.telefone" class="input-control text"/>
			</div>
		</div>
		
		<div class="row">
			<div class="span12">
					<label for="txtEmailEnviar">Enviar para email</label>
			    	<input id="txtEnviarParaEmail" type="text" ng-model="enviarParaEmail" class="input-control text"/>
			</div>
		</div>
	</div>

	<tabset> 
		<tab ng-repeat="orc in orcamentos" heading="{{ orc.modelo.nome}}-{{$index}}">
			 <table class="table striped">
			 	<thead>
			 		<tr>
			 			<th width="30%">Item</th>
			 			<th width="70%">Descrição</th>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr>
			 			<td>Data do orçamento: </td>
			 			<td>{{orc.dataAtendimento | date:'dd/MM/yyyy HH:mm'}}</td>
			 		</tr>
			 		<tr>
			 			<td>Quantidade: </td>
			 			<td>{{orc.quantidade}}</td>
			 		</tr>
			 		<tr>
			 			<td>Modelo: </td>
			 			<td>{{orc.modelo.nome}}</td>
			 		</tr>
			 		<tr>
			 			<td>Papel Envelope: </td>
			 			<td>{{orc.papelEnvelope != null ? orc.papelEnvelope.nome : 'Nenhum'}}</td>
			 		</tr>
			 		
			 		<tr>
			 			<td>Papel Revestimento Interno Envelope: </td>
			 			<td>{{orc.papelRevestimentoInterno != null ? orc.papelRevestimentoInterno.nome : 'Nenhum'}}</td>
			 		</tr>
			 		
			 		<tr>
			 			<td>Papel Interno: </td>
			 			<td>{{orc.papelInterno != null ? orc.papelInterno.nome : 'Nenhum'}}</td>
			 		</tr>
			 		
			 		<tr>
			 			<td>Corte Interno com Borda Almofadada: </td>
			 			<td>{{orc.corteInternoAlmofadado ? 'Sim' : 'Não'}}</td>
			 		</tr>
			 		
			 		<tr>
			 			<td>Impressão Envelope: </td>
			 			<td>{{orc.impressaoEnvelope.nome}}</td>
			 		</tr>
			 		<tr>
			 			<td>Impressão Interno: </td>
			 			<td>{{orc.impressaoInterno != null ? orc.impressaoInterno.nome : 'Sem impressão'}}</td>
			 		</tr>
			 		<tr>
			 			<td>Fita: </td>
			 			<td>{{orc.fita != null ? orc.fita.nome : 'Não'}}</td>
			 		</tr>
			 		<tr>
			 			<td>Laço: </td>
			 			<td>{{orc.laco != null ? orc.laco.nome : 'Não'}}</td>
			 		</tr>
			 		<tr>
			 			<td>Impressão nome dos convidados: </td>
			 			<td>{{orc.impressaoNome != null ? orc.impressaoNome.nome : 'Não'}}</td>
			 		</tr>
			 		
			 		<tr>
			 			<td>Aplicação de renda: </td>
			 			<td>{{orc.renda != null ? orc.renda.nome : 'Não'}}</td>
			 		</tr>
			 		
			 		<tr>
			 			<td>Strass/Meia Pérola: </td>
			 			<td>{{orc.strass != null ? orc.strass.nome : 'Não'}}</td>
			 		</tr>
			 		<tr>
			 			<td>Fechamento: </td>
			 			<td>{{orc.ima != null ? orc.ima.nome : 'Não'}}</td>
			 		</tr>
			 		<tr>
			 			<td>Serigrafia Papel Interno: </td>
			 			<td>{{orc.serigrafiaInterno != null ? orc.serigrafiaInterno.nome : 'Não'}}</td>
			 		</tr>
			 		<tr>
			 			<td>Serigrafia Envelope: </td>
			 			<td>{{orc.serigrafiaEnvelope != null ? orc.serigrafiaEnvelope.nome : 'Não'}}</td>
			 		</tr>
			 		
			 		<tr>
			 			<td>Interno com Borda Almofadada: </td>
			 			<td>{{orc.corteInternoAlmofadado ? 'Sim' : 'Não'}}</td>
			 		</tr>
			 		
			 		<tr>
			 			<td>Papel Envelope Acoplado: </td>
			 			<td>{{orc.acoplamentoEnvelope ? 'Sim' : 'Não'}}</td>
			 		</tr>
			 		
			 		<tr>
			 			<td>Papel Interno Acoplado: </td>
			 			<td>{{orc.acoplamentoInterno ? 'Sim' : 'Não'}}</td>
			 		</tr>
			 		
			 	</tbody>
			 	
			 	<tfoot>
			 		<tr ng-show="{{orc.hotstamp != null || orc.cliche != null}}">
			 			<td colspan="2">Itens adicionais</td>
			 		</tr>
			 		
			 		<tr ng-show="{{orc.hotstamp != null}}">
			 			<td>Aplicação HotStamp</td>
			 			<td>{{orc.hotstamp.nome}} - R$ {{orc.hotstamp.valor}}</td>
			 		</tr>
			 		
			 		<tr ng-show="{{orc.cliche != null}}">
			 			<td>Confecção clichê</td>
			 			<td>{{orc.cliche.nome}} - R$ {{orc.cliche.valor}}</td>
			 		</tr>
			 	
			 		<tr>
			 			<td>Valor por unidade (à vista): </td>
			 			<td>{{orc.precoCalculado}}</td>
			 		</tr>
			 		<tr>
			 			<td>Valores adicionais por pedido (à vista): </td>
			 			<td>{{orc.precoCalculadoItemsPedido}}</td>
			 		</tr>
			 		<tr>
			 			<td>Valor Total (à vista): </td>
			 			<td>{{orc.precoCalculadoTotal}}</td>
			 		</tr>
					
					<tr>
			 			<td>Valor por unidade (em até 3x): </td>
			 			<td>{{orc.precoCalculadoPrazo}}</td>
			 		</tr>
			 		<tr>
			 			<td>Valores adicionais por pedido (em até 3x): </td>
			 			<td>{{orc.precoCalculadoItemsPedidoPrazo}}</td>
			 		</tr>
			 		<tr>
			 			<td>Valor Total (em até 3x): </td>
			 			<td>{{orc.precoCalculadoTotalPrazo}}</td>
			 		</tr>
			 		
			 		<tr>
			 			<td>Enviar email orçamento</td>
			 			<td><input type="checkbox" ng-model="orc.enviarEmail" ng-change="atualizarEnviarEmail(orc)"/></td>
			 		</tr>
			 		
			 		
			 	</tfoot>
			 	
			 </table>
		</tab> 
	</tabset>
	
	<div class="grid fluid">
	<div class="row">
		
		<div class="span2">
	      <button class="button default" ng-click="selecionarFotos()">Selecionar fotos</button>
		</div>
	
		<div class="span2">
	      <button class="button default" ng-click="enviarPorEmail()">Enviar por email</button>
		</div>
	</div>
	</div>

</div>
